
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    {% include 'model_statics.html' %}
</head>
<body>

    <div class="post_page">
        <!--***** nav menu start ****** -->
        {% include 'model_nav_menu.html' %}
        <!-- search  -->
        {% include 'model_search.html' %}
        <!-- search  -->
        <!-- notification -->
        {% include 'model_notifications.html' %}
        <!--***** nav menu end ****** -->

        <div class="second_container">
            <!--***** posts_container start ****** -->
            <div class="main_section">
                <div class="posts_container">
                    <div class="stories">
                        {% include 'model_stories.html' %}
                    </div>
                    
                    <div class="posts">
                        {% include 'model_posts.html' %}
                    </div>

                </div>
            </div>
            <!--***** posts_container end ****** -->

            <!--***** followers_container start ****** -->
            <div class="followers_container">
                {% include 'model_followers_container.html' %}
            </div>
            <!--***** followers_container end ****** -->

        </div>

        <!-- Modal for sending posts-->
        {% include 'model_sending_posts.html' %}

        <!-- Modal for add messages-->
        {% include 'model_add_messages.html' %}

        <!--Create model-->
    {% include 'model_create_model.html' %}

    </div>

    <!-- <script src="{% static 'sass/vender/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'sass/vender/bootstrap.bundle.min.js' %}"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <script src="{% static 'owlcarousel/jquery.min.js' %}"></script>
    <script src="{% static 'owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/carousel.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>