
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    {% include 'model_statics.html' %}
</head>
<body>

    <div class="post_page">
        <!--***** nav menu start ****** -->
        {% include 'model_nav_menu.html' %}
        <!-- search  -->
        {% include 'model_search.html' %}
        <!-- search  -->
        <!-- notification -->
        {% include 'model_notifications.html' %}
        <!--***** nav menu end ****** -->

        <div class="second_container">
            <!--***** posts_container start ****** -->
            <div class="main_section">
                <div class="posts_container">
                    <div class="stories">
                        {% include 'model_stories.html' %}
                    </div>
                    
                    <div class="posts">
                        {% include 'model_posts.html' %}
                    </div>

                </div>
            </div>
            <!--***** posts_container end ****** -->

            <!--***** followers_container start ****** -->
            <div class="followers_container">
                {% include 'model_followers_container.html' %}
            </div>
            <!--***** followers_container end ****** -->

        </div>

        <!-- Modal for sending posts-->
        {% for post in posts %}
        {% include 'model_sending_posts.html' %}
        {% endfor %}
        <!-- Modal for add messages-->
        {% include 'model_add_messages.html' %}

        <!--Create model-->
    {% include 'model_create_model.html' %}

    </div>

    <!-- <script src="{% static 'sass/vender/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'sass/vender/bootstrap.bundle.min.js' %}"></script> -->
{% include 'model_bottom_scripts.html' %}
</body>

</html>