
<div class="owl-carousel items owl-loaded owl-drag">
    <div class="owl-stage-outer">
        <div class="owl-stage"
            style="transform: translate3d(-203px, 0px, 0px); transition: all 0.25s ease 0s; width: 2104px;">
            <div class="owl-item cloned" style="width: 62.857px; margin-right: 5px;">
                <div class="item_s">
                    <img src="https://i.ibb.co/7R0Vzp3/account8.jpg">
                    <p>loy</p>
                </div>
            </div>
            <div class="owl-item cloned" style="width: 62.857px; margin-right: 5px;">
                <div class="item_s">
                    <img src="https://i.ibb.co/gvrfhjL/account9.jpg">
                    <p>loy</p>
                </div>
            </div>
            <div class="owl-item cloned" style="width: 62.857px; margin-right: 5px;">
                <div class="item_s">
                    <img src="https://i.ibb.co/j8L7FPY/account10.jpg">
                    <p>loy</p>
                </div>
            </div>
            <div class="owl-item cloned active" style="width: 62.857px; margin-right: 5px;">
                <div class="item_s">
                    <img src="https://i.ibb.co/JcXRPht/account11.jpg">
                    <p>loy</p>
                </div>
            </div>
            <div class="owl-item cloned active" style="width: 62.857px; margin-right: 5px;">
                <div class="item_s">
                    <img src="https://i.ibb.co/6WvdZS9/account12.jpg">
                    <p>loy</p>
                </div>
            </div>
            <div class="owl-item cloned active" style="width: 62.857px; margin-right: 5px;">
                <div class="item_s">
                    <img src="https://i.ibb.co/pJ8thst/account13.jpg">
                    <p>loy</p>
                </div>
            </div>
            <div class="owl-item cloned active" style="width: 62.857px; margin-right: 5px;">
                <div class="item_s">
                    <img src="https://i.ibb.co/4M3W996/account14.jpg">
                    <p>loy</p>
                </div>
            </div>
            <div class="owl-item cloned active" style="width: 62.857px; margin-right: 5px;">
                <div class="item_s">
                    <img src="https://i.ibb.co/Fzpg5yd/account15.jpg">
                    <p>loy</p>
                </div>
            </div>
            <div class="owl-item active" style="width: 62.857px; margin-right: 5px;">
                <div class="item_s">
                    <img src="https://i.ibb.co/3S1hjKR/account1.jpg">
                    <p>zineb</p>
                </div>
            </div>
            <div class="owl-item active" style="width: 62.857px; margin-right: 5px;">
                <div class="item_s">
                    <img src="https://i.ibb.co/kD6tj9T/account2.jpg">
                    <p>ikram</p>
                </div>
            </div>
            <div class="owl-item" style="width: 62.857px; margin-right: 5px;">
                <div class="item_s">
                    <img src="https://i.ibb.co/cx69NJL/account3-1.jpg">
                    <p>amina</p>
                </div>
            </div>
            <div class="owl-item" style="width: 62.857px; margin-right: 5px;">
                <div class="item_s">
                    <img src="https://i.ibb.co/Zhc5hHp/account4.jpg">
                    <p>amal</p>
                </div>
            </div>
            <div class="owl-item" style="width: 62.857px; margin-right: 5px;">
                <div class="item_s">
                    <img src="https://i.ibb.co/SPTNbJL/account5.jpg">
                    <p>amine</p>
                </div>
            </div>
            <div class="owl-item" style="width: 62.857px; margin-right: 5px;">
                <div class="item_s">
                    <img src="https://i.ibb.co/nj8pPqZ/account6.jpg">
                    <p>loy</p>
                </div>
            </div>
            <div class="owl-item" style="width: 62.857px; margin-right: 5px;">
                <div class="item_s">
                    <img src="https://i.ibb.co/vkXPdxN/account7.jpg">
                    <p>loy</p>
                </div>
            </div>
            <div class="owl-item" style="width: 62.857px; margin-right: 5px;">
                <div class="item_s">
                    <img src="https://i.ibb.co/7R0Vzp3/account8.jpg">
                    <p>loy</p>
                </div>
            </div>
            <div class="owl-item" style="width: 62.857px; margin-right: 5px;">
                <div class="item_s">
                    <img src="https://i.ibb.co/gvrfhjL/account9.jpg">
                    <p>loy</p>
                </div>
            </div>
            <div class="owl-item" style="width: 62.857px; margin-right: 5px;">
                <div class="item_s">
                    <img src="https://i.ibb.co/j8L7FPY/account10.jpg">
                    <p>loy</p>
                </div>
            </div>
            <div class="owl-item" style="width: 62.857px; margin-right: 5px;">
                <div class="item_s">
                    <img src="https://i.ibb.co/JcXRPht/account11.jpg">
                    <p>loy</p>
                </div>
            </div>
            <div class="owl-item" style="width: 62.857px; margin-right: 5px;">
                <div class="item_s">
                    <img src="https://i.ibb.co/6WvdZS9/account12.jpg">
                    <p>loy</p>
                </div>
            </div>
            <div class="owl-item" style="width: 62.857px; margin-right: 5px;">
                <div class="item_s">
                    <img src="https://i.ibb.co/pJ8thst/account13.jpg">
                    <p>loy</p>
                </div>
            </div>
            <div class="owl-item" style="width: 62.857px; margin-right: 5px;">
                <div class="item_s">
                    <img src="https://i.ibb.co/4M3W996/account14.jpg">
                    <p>loy</p>
                </div>
            </div>
            <div class="owl-item" style="width: 62.857px; margin-right: 5px;">
                <div class="item_s">
                    <img src="https://i.ibb.co/Fzpg5yd/account15.jpg">
                    <p>loy</p>
                </div>
            </div>
            <div class="owl-item cloned" style="width: 62.857px; margin-right: 5px;">
                <div class="item_s">
                    <img src="https://i.ibb.co/3S1hjKR/account1.jpg">
                    <p>zineb</p>
                </div>
            </div>
            <div class="owl-item cloned" style="width: 62.857px; margin-right: 5px;">
                <div class="item_s">
                    <img src="https://i.ibb.co/kD6tj9T/account2.jpg">
                    <p>ikram</p>
                </div>
            </div>
            <div class="owl-item cloned" style="width: 62.857px; margin-right: 5px;">
                <div class="item_s">
                    <img src="https://i.ibb.co/cx69NJL/account3-1.jpg">
                    <p>amina</p>
                </div>
            </div>
            <div class="owl-item cloned" style="width: 62.857px; margin-right: 5px;">
                <div class="item_s">
                    <img src="https://i.ibb.co/Zhc5hHp/account4.jpg">
                    <p>amal</p>
                </div>
            </div>
            <div class="owl-item cloned" style="width: 62.857px; margin-right: 5px;">
                <div class="item_s">
                    <img src="https://i.ibb.co/SPTNbJL/account5.jpg">
                    <p>amine</p>
                </div>
            </div>
            <div class="owl-item cloned" style="width: 62.857px; margin-right: 5px;">
                <div class="item_s">
                    <img src="https://i.ibb.co/nj8pPqZ/account6.jpg">
                    <p>loy</p>
                </div>
            </div>
            <div class="owl-item cloned" style="width: 62.857px; margin-right: 5px;">
                <div class="item_s">
                    <img src="https://i.ibb.co/vkXPdxN/account7.jpg">
                    <p>loy</p>
                </div>
            </div>
            <div class="owl-item cloned" style="width: 62.857px; margin-right: 5px;">
                <div class="item_s">
                    <img src="https://i.ibb.co/7R0Vzp3/account8.jpg">
                    <p>loy</p>
                </div>
            </div>
        </div>
    </div>
    <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span
                aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span
                aria-label="Next">›</span></button></div>
    <div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button role="button"
            class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button>
    </div>
</div>