{% load static %}
<div class="item1">
    <div class="item">
        <img class="img-fluid" src="https://i.ibb.co/CWbynB2/account3-1.jpg">
        <div class="bg" <div="">
            <div class="likes">
                <img src="{% static './images/heart_white.png' %}">
                <span>10</span>
            </div>
            <div class="comments">
                <img src="{% static './images/message.png' %}">
                <span>5</span>
            </div>
        </div>
    </div>

</div>