{% load static %}
<div id="search" class="search_section">
    <h2>Search</h2>
    <form method="post">
        <input type="text" placeholder="Search">
    </form>
    <div class="find">
        <div class="desc">
            <h4>Recent</h4>
            <p><a href="#">Clear all</a></p>
        </div>
        <div class="account">
            <div class="cart">
                <div>
                    <div class="img">
                        <img src="{% static 'images/profile_img.jpg' %}" alt="">
                    </div>
                    <div class="info">
                        <p class="name">Zineb_essoussi</p>
                        <p class="second_name">Zim Ess</p>
                    </div>
                </div>
                <div class="clear">
                    <a href="#">X</a>
                </div>
            </div>
        </div>
    </div>
</div>