{% load static %}

{% for post in posts %}

<div class="post">
    <div class="info">
        <div class="person">
            <img src="https://i.ibb.co/3S1hjKR/account1.jpg">
            <a href="#">{{ post.post_i.author.username }}</a>
            <span class="circle">.</span>
            <span>45m</span>
        </div>
        <div class="more">
            <img src="{% static 'images/show_more.png' %}" alt="show more">
        </div>
    </div>
    <div class="image">
        <div id="carouselExample{{post.post_i.pk}}" class="carousel slide">
            <div class="carousel-inner">
                {% for pic in post.postMedia.pics %}
                <div class="carousel-item active">
                    <img src="{% get_media_prefix %}{{pic.fields.pic}}" class="d-block w-100" alt="...">
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample{{post.post_i.pk}}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample{{post.post_i.pk}}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="desc">
        <div class="icons">
            <div class="icon_left d-flex">
                <div class="like">
                    <img class="not_loved" src="{% static 'images/love.png' %}">
                    <img class="loved" src="{% static 'images/heart.png' %}">
                </div>
                <div class="chat">
                    <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#message_modal">
                        <img src="{% static 'images/bubble-chat.png' %}">
                    </button>
                </div>
                <div class="send">
                    <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#send_message_modal">
                        <img src="{% static 'images/send.png' %}">
                    </button>
                </div>
            </div>
            <div class="save not_saved">
                <img class="hide saved" src="{% static 'images/save_black.png' %}">
                <img class="not_saved" src="{% static 'images/save-instagram.png' %}">
            </div>
        </div>
        <div class="liked">
            <a class="bold" href="#">{{ post.postLikes|length }} Likes</a>
        </div>
        <div class="post_desc">
            <p>
                <a class="bold" href="#">{{ post.post_i.author.first_name }}</a>
                {{post.post_i.caption}}
            </p>
            <p><a class="gray" href="#">View all 2 comments</a></p>
            <input type="text" placeholder="Add a comments...">
        </div>
    </div>
</div>
{% endfor %}